.my-card-body {
    height: calc(97vh - (55px + 44px));
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    /*画面幅が768px以下の場合*/
    .my-card-body {
        height: auto;
        max-height: 50vh;
    }
    
}